<%= form_with(model: :user) do |f| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= fields_for :cart, @user.cart do |form| %>

  <div>
    <%= form.hidden_field :user_id %>
  </div>

  <div>
    <%= form.label :order_status, style: "display: inline" %>
   :  <%=  @cart.order_status %>
  </div>

  <div>
    <%= form.label :shipping_address, style: "display: block" %>
    <%= form.text_field :shipping_address %>
  </div>

  Total: <%=@cart.total_price%>

  

  <div>
    <%= f.submit "Check Out" %>
  </div>

  <% end%>
<% end %>
