<div id="<%= dom_id cart %>">


<% if cart.order_status != "pending"%>
<div class = "card">
  <p>
    <strong>Order Status</strong>
    <%= cart.order_status %>
  </p>


<%= render (cart.line_items) %>
  <p>
    <strong>Total Price:</strong>
    <%= cart.total_price %>
  </p>

  <p>
    <strong>Shipping Address</strong>
    <%= cart.shipping_address %>
  </p>

    <p>
    <strong>Billing Address</strong>
    <%= cart.billing_address %>
  </p>

<%if cart.order_status == "ordered"%>

<%= form_with(model: cart) do |form| %>
<div>
    <%= form.hidden_field :user_id %>
  </div>

 <%= form.submit "Cancel Order" %>
<%end%>
<%end%>

 



</div>
<%end%>


</div>
