<%= form_with(model: cart) do |form| %>
  <% if cart.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
        <% cart.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% if @cart.order_status == "pending" %>
  <div>
    <%= form.hidden_field :user_id %>
  </div>

  <div>
    <%= form.label :order_status, style: "display: inline" %>
   :  <%=  @cart.order_status %>
  </div>

  <div>
    <%= form.label :shipping_address, style: "display: block" %>
    <%= form.text_field :shipping_address %>
  </div>

  Total: <%=@cart.total_price%>

  

  <div>
    <%= form.submit "Check Out" %>
  </div>

  <% end%>
<% end %>
