<p style="color: green"><%= notice %></p>


<div>
  <%= link_to "Continue Shopping?", products_path %>

  <section class = "section">

  <%= render (@cart.line_items) %>


  Total: <%=@cart.total_price%>
  <%= button_to "Empty Cart", @cart, method: :delete %>


<% if user_signed_in? %>

<%= link_to "Checkout" , edit_cart_path , notice: "Confirm your shipping address" %>
<%= flash[:notice] = "Confirm your shipping address" %>

<% else%>
 <%= link_to "Checkout" , new_user_session_path , notice: "You must sign in to continue" %>
 <%= flash[:notice] = "You must sign in to continue" %>

 <% end%>

  </section>
</div>
