<p style="color: green"><%= notice %></p>


<p>
    <strong>Product ID:</strong>
    <%= @product.id %>
</p>

<%= render @product %>

<div>


  <% if @product.stock > 0 %>
  <%= button_to "Add to Cart", line_items_path(product_id: @product), method: :post %> 

  <% else %>
  <button  class = "disabled"> Out of stock </button>

  <%end%>
  <%= link_to "See More", products_path %>

</div>
