<div id="<%= dom_id line_item %>">

<div class= "card" >
<div class = "row">
<div class = "column" >
 <p>
    <strong>Name</strong>
    <%= line_item.product.name %>
  </p>

  </div>

<div class = "column" >
  <label for="quantity">Quantity </label>

  
<div type="number"  value = <%=line_item.quantity%> min = "1" max = <%=line_item.product.stock%>>

<%=line_item.quantity%>
</div>

  </div>
<div class = "column" >
  <p>
    <strong>Price</strong>
    <%= line_item.product.price %>
  </p>
</div>
<div class = "column" >
   <% if line_item.product.image.attached? %>
<%= image_tag(line_item.product.image.representation(resize: '100x100')) %>
<% end %>
</div>
 

 <%= button_to 'Remove Item', line_item, method: :delete, data: { confirm: "Are you sure you want to remove this item?"}%>

</div>
 </div>

</div>
